@model Department
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>

    </head>
    <body>
        <div>
            @Model.DeptName Included courses
        </div>
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Duration</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model.courses)
            {
                <tr>
                    <td>@item.Crs_Name</td>
                    <td>@item.Duration</td>
                    <td>
                        <a asp-action="AddstudentDegree" asp-controller="departmentCourse" asp-route-deptid="@Model.DeptId" asp-route-crsId="@item.Id" class="btn btn-danger"> Add Degree</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </body>
</html>
